/*
font-family: 'Karma', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
font-family: 'Nanum Gothic', sans-serif;

*/




body {
	margin: auto;
	background-color: floralwhite;
}

a {
	text-decoration: none;
	color: black;
	padding: 15px;
}

.navbar {
	background-color: floralwhite;
	z-index: 9999;
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	padding: 10px;
	position: fixed;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.3);

}
.nav-button {
	display: inline;
	font-family: 'Karma', serif;
	padding: auto;
	margin: 1em;
	transition: .3s ease-in-out;
}

.nav-button:hover a {
	background-color: #22abb1;
	color: floralwhite;
	transition: .3s ease-in-out;

}





.smallLogo {
	display: inline;
	max-height: 50px;
	max-width: 100px;
	float: left;
	padding: none;
	margin-top: -7px;
	margin-left: -10px;
	margin-right: -100px;
}

.header {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: minmax(50px, auto);
	margin-bottom: 150px;
	margin-top: 200px;
	color: #2e4184;
	background-color: rgba(255, 255, 255, 0.8);

}

.headerBackground {
	background-image: url(./images/background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	width: 1200px;
	height: 1200px;
	position: fixed;
	z-index: -1;
	margin: auto;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	margin-top: -200px;

}

.logo {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: span 2;
	margin: auto;
	padding-bottom: 25px;
}

.title {
	grid-column: 2;
	grid-row: 3;
	margin: auto;
	font-family: 'Karma', serif;

}

.statement {
	grid-column: 2;
	grid-row: 4;
	font-family: 'Roboto', sans-serif;

}



.boxOne {
	margin: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 65px;
	padding-right: 70px;

}

.basicInfo {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(50px, auto);
}

.philosophy {
	grid-column: 1;
	grid-row: 1;
}

.phil {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.3em;
}

.philWords {
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 1.2em;

}

.resources {
	grid-column: 2;
	grid-row: 1;
}

.res {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.3em;

}

.resWords {
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 1.2em;

}

.cruises {
	grid-column: 3;
	grid-row: 1;
}

.cruise {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.3em;

}

.cruiseWords {
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 1.2em;

}

.tours {
	grid-column: 4;
	grid-row: 1;
}

.toursTitle {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.3em;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-template-rows: minmax(50px, auto);
	font-family: 'Hind Vadodara', sans-serif;
	padding: 5px;
	background-color: #2e4184;
	color: floralwhite;
	height: 200px;
	bottom: 0;
}

.company {
	grid-column: 3;
	grid-row: 1;
	text-align: center;
	margin: auto;
	border-left: 1px solid floralwhite;
	border-right: 1px solid floralwhite;
	padding: 25px;
}



.address {
	grid-column: 2;
	grid-row: 1;
	margin: auto;
	
}

.phone {
	grid-column: 4;
	grid-row: 1;
	margin: auto;
	
}

.holder {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: minmax(25px, auto);

}

.container {
	width: 800px;
	height: 500px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: floralwhite;
	grid-column: 2;
	grid-row: 2;

	border-radius: 5%;
	box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 150px;
	
}

.supply {
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	margin-top: 150px;
	font-family: 'Roboto', sans-serif;
	color: #2e4184;
	margin-top: 50px;
	background-color: floralwhite;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
	border-top-right-radius: 25%;
	border-top-left-radius: 25%;
}

.image-slider-wrapper {
	width: 800px;
	height: 500px;
	margin: auto;
	overflow: hidden;
}

#imageSlider {
	position: relative;
    padding: 5px;
    margin: 0px;
    list-style: none;
}

.pic {
	position: absolute;
    margin: auto;
    opacity: 0;
    
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}

.img {
	height: 450px;
    width: 750px;
    border-radius: 3%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.showing {
	opacity: 1;

}
